---
import { Image } from "astro:assets";
import favIconSvg from "../../assets/favicons/favicon.svg";

const lang = await import("../../locale/json/en.json");
---

<navbar-default>
  <nav class="border-gray-200 bg-white dark:border-gray-700 dark:bg-gray-900">
    <div class="mx-auto flex flex-wrap items-center justify-between p-4">
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <Image class="w-8" src={favIconSvg} alt="Brainlan Logo" />

        <span
          class="self-center whitespace-nowrap text-2xl font-semibold dark:text-white"
          >Brainlan</span
        >
      </a>
      <button
        data-collapse-toggle="navbar-multi-level"
        type="button"
        class="inline-flex h-10 w-10 items-center justify-center rounded-lg p-2 text-sm text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 md:hidden"
        aria-controls="navbar-multi-level"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-5 w-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-multi-level">
        <ul
          class="mt-4 flex flex-col rounded-lg border border-gray-100 bg-gray-50 p-4 font-medium dark:border-gray-700 dark:bg-gray-800 md:mt-0 md:flex-row md:space-x-8 md:border-0 md:bg-white md:p-0 md:dark:bg-gray-900 rtl:space-x-reverse"
        >
          <li>
            <button
              id="dropdownNavbarLink"
              data-dropdown-toggle="dropdownNavbar"
              class="flex w-full items-center justify-between px-3 py-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 dark:focus:text-white md:w-auto md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-gray-700 md:dark:hover:bg-transparent md:dark:hover:text-gray-500"
            >
              {lang?.components.navbardefault.services}
              <svg
                class="ms-2.5 h-2.5 w-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"></path>
              </svg></button
            >
            <div
              id="dropdownNavbar"
              class="z-10 hidden w-44 divide-y divide-gray-100 rounded-lg bg-white font-normal shadow dark:divide-gray-600 dark:bg-gray-700"
            >
              <ul
                class="py-2 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdownLargeButton"
              >
                <li>
                  <a
                    href="/database"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >{lang?.components.navbardefault.database}</a
                  >
                </li>
                <li>
                  <a
                    href="/interface"
                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
                    >{lang?.components.navbardefault.interface}</a
                  >
                </li>
              </ul>
              <div class="py-1">
                <p
                  class="block cursor-not-allowed px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-200 dark:hover:bg-gray-600 dark:hover:text-white"
                >
                  {lang?.components.navbardefault.lisa}<span
                    class="ms-2 rounded-full bg-gray-100 px-2.5 py-0.5 text-xs font-medium text-gray-800 dark:bg-gray-900 dark:text-gray-300"
                    >{lang?.components.navbardefault.late}</span
                  >
                </p>
              </div>
            </div>
          </li>
          <li>
            <a
              href="https://docs.brainlan.com"
              class="block rounded px-3 py-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-gray-700 md:dark:hover:bg-transparent md:dark:hover:text-gray-500"
              >{lang?.components.navbardefault.documentation}</a
            >
            <li>
              <a
                href="https://blog.brainlan.com"
                class="block rounded px-3 py-2 text-gray-900 hover:bg-gray-100 dark:text-white dark:hover:bg-gray-700 dark:hover:text-white md:border-0 md:p-0 md:hover:bg-transparent md:hover:text-gray-700 md:dark:hover:bg-transparent md:dark:hover:text-gray-500"
                >{lang?.components.navbardefault.blog}</a
              >
            </li>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <script>
    import { Dropdown } from "flowbite";
    class NavbarDefault extends HTMLElement {
      constructor() {
        super();
      }

      async connectedCallback() {}
    }
    customElements.define("navbar-default", NavbarDefault);
  </script>
</navbar-default>
