---
import NavbarDefault from "../components/share/NavbarDefault.astro";
import Favicons from "../components/common/Favicons.astro";
import MetaCommon from "../components/common/MetaCommon.astro";
import MetaOg from "../components/common/MetaOg.astro";
import MetaTwitter from "../components/common/MetaTwitter.astro";
import MetaCsp from "@components/common/MetaCsp.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  cspContent?: string;
}

const { title, description, image, cspContent } = Astro.props;
---

<html lang={Astro.preferredLocale} class="overflow-x-hidden scroll-smooth">
  <head>
    <MetaCommon title={title} description={description} />
    <Favicons />
    <MetaOg title={title} description={description} image={image} />
    <MetaTwitter title={title} description={description} image={image} />
    <MetaCsp content={cspContent} />

    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="dark:bg-gray-700">
    <NavbarDefault />
    <slot />
  </body>
</html>
